/* aboutus start */
.aboutus_bgcolor{
    background-image: url('../Images/footercolor.jpg')  ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 2500px 250px rgba(0, 0, 0, 0.856);
}
.aboutimageheight{
    height: 530px;
}
.marginminus{
    margin-top: -100px;
}
.hoverrotate {
    text-align: center;
  }
  
  .img-container {
    width: 80px;
    margin: auto;
  }
  
  .rotateimg {
    transition: transform 0.5s ease-in-out;
  }
  .texthover{
    color: var(--pink);
    transition: transform 0.5s ease-in-out;

  }
  
  .hoverrotate:hover .rotateimg {
    transform: rotateY(360deg);
  }
  
  .hoverrotate:hover .texthover {
    color: var(--purple);
  }
  

@media screen and (max-width: 991px){
    .marginminus{
        margin-top: 0px;
    }
    .aboutimageheight{
        height: 350px;
    }
}
@media screen and (min-width: 991px) and (max-width:1200px){
    .marginminus{
        margin-top: -50px;
    }
    .aboutimageheight{
        height: 550px;
    }
}
/* aboutus end */

/* team start */
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
  }
  .our-team {
    padding: 30px 0 40px;
    border-bottom: 5px solid rgb(59 0 89);
    transition: all 0.5s ease-in-out;
  }
  .our-team:hover {
    border-bottom: 5px solid #2f2f2f;
    border: 1px solid rgb(187 11 132);
  }
  
  .our-team .pic {
    width: 130px;
    height: 130px;
  }
  .our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(59 0 89);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:before {
    height: 100%;
    background: rgb(187 11 132);
  }
  .our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:after {
    background: rgb(59 0 89);
  }
  .our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px rgb(187 11 132);
    transform: scale(0.7);
  }
  .our-team:hover .pic img {
    box-shadow: 0 0 0 14px rgb(187 11 132);
    transform: scale(0.7);
  }
  .our-team .team-content {
    margin-bottom: 30px;
  }
  .our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
 
  .our-team .social {
    width: 100%;
    background: rgb(59 0 89);
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    list-style-type: none;
  }
  .our-team:hover .social {
    bottom: 0;
  }
  .our-team .social li .social_about{
    display: inline-block;
  }
  .social_about{
    color: white    ;
    background-color: rgb(59 0 89);
    height: 30px ;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  .our-team .social li a:hover {
    border-radius: 10px 0px 12px 0px;
    color: rgb(59 0 89);
    background-color: white;

  }
  @media only screen and (max-width: 990px) {
    .our-team {
      margin-bottom: 30px;
    }
  }
/* team end */