
.contactbck_color{
    background-color: rgb(241, 237, 250) !important;
  }

  .contactusicon{
    font-size: 30px;
    width: 60px;
    height: 60px;
    transform: scale(1);


    transition: all 0.3s ease-in-out;
background-image: var(--bgcolor);
  }
  .contactbck_color:hover .contactusicon{
    transform: scale(1.2);
  }

  

