/* Home About start */
.homeabout_bg {
  background-image: linear-gradient(90deg, white 70%, rgb(51, 0, 66) 30%);
}

.iconbg {
  background-color: var(--purple);
}

@media screen and (max-width: 768px) {
  .homeabout_bg {
    background-image: none;
  }

  .aboutcolor {
    background-color: rgb(51, 0, 66);

  }
}

/* Home About end */


/* home service start */
.service_bg {

  background-image: url("../Images/servicebg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 1500px 1000px rgba(0, 0, 0, 0.664);
}


.cardcss {
  background-color: black;
  padding: 20px;
  border: 4px solid;

  border-image-source: linear-gradient(-45deg,
      rgb(36, 27, 122) 0%,
      rgb(120, 34, 131),
      rgb(229, 9, 127) 100%);
  border-image-slice: 1;
  box-shadow: 0px 0px 15px rgba(36, 27, 122, 0.6),
    0px 0px 25px rgba(120, 34, 131, 0.5),
    0px 0px 35px rgba(229, 9, 127, 0.5);

  transition: all 0.3s ease-in-out;
  border-radius: 15% 85% 15% 85% / 85% 9% 91% 15%;
}

/* Optional Hover Effect */
.cardcss:hover {
  border-radius: 0px;
  box-shadow: 0px 0px 25px rgba(36, 27, 122, 0.8),
    0px 0px 35px rgba(120, 34, 131, 0.7),
    0px 0px 45px rgba(229, 9, 127, 0.6);
  transform: translateY(-10px);
  /* Slight lift on hover */
}

/* home service end */

/* Why choose start */
.whychoose_bg {

  background-image: url("../Images/bgimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}

.icon_circle {
  border-radius: 200px 200px 200px 0px;
  -webkit-border-radius: 200px 200px 200px 0px;
  -moz-border-radius: 200px 200px 200px 0px;
  height: 65px;
  width: 65px;
}

/* Why choose end */
/* progress start */

.product_high {
  background-image: url("../Images/progress_bg_image.jpg");
  box-shadow: inset 0px 0px 1500px 1000px rgba(0, 0, 0, 0.664);
  outline: 1px solid var(--pink);
  outline-offset: -20px;
}

.barshadow {
  box-shadow: 0px 0px 15px rgba(36, 27, 122, 0.6),
    0px 0px 25px rgba(120, 34, 131, 0.5),
    0px 0px 35px rgba(229, 9, 127, 0.5);
}

/* progress end */
/* testimonial start */
.testimonial_bg {
  background-image: url("../Images/testi-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgtestimonial {
  background-image: url('../Images/footercolor.jpg');
  box-shadow: inset 0px 0px 1500px 100px rgba(0, 0, 0, 0.911);

  /* background-color: rgb(51, 0, 66); */
  /* background-image: linear-gradient(to right,rgb(40, 0, 53),rgb(51, 0, 66),rgb(138, 57, 163),rgb(224, 161, 241),rgb(138, 57, 163),rgb(51, 0, 66),rgb(40, 0, 53)); */
}

.quotecolor {
  color: rgba(246, 213, 255, 0.884);
}

.quotecolorbg {
  background-color: rgba(246, 213, 255, 0.884);
}

.font_fletter {
  font-size: 19px;
  height: 45px;
  width: 45px;
}

.testimonial_arrow .carousel-control-next {
  right: -25.5%;
  top: 99%;
  height: 50px;
  z-index: 10 !important;
}

.testimonial_arrow .carousel-control-prev {
  left: 95.5%;
  top: 99%;
  height: 50px;
  z-index: 10 !important;

}

@media (min-width:992px) and (max-width:1201px) {
  .testimonial_arrow .carousel-control-next {
    right: -27.5%;
  }

  .testimonial_arrow .carousel-control-prev {
    left: 97.5%;
  }
}

@media (min-width:1200px) and (max-width:1200px) {
  .testimonial_arrow .carousel-control-next {
    right: -25.5%;
  }

  .testimonial_arrow .carousel-control-prev {
    left: 95.5%;
  }
}

@media screen and (min-width:1400px) {
  .testimonial_arrow .carousel-control-next {
    right: -23.5%;
  }

  .testimonial_arrow .carousel-control-prev {
    left: 93.5%;
  }
}

/* testimonial end */