/* / ProductPage start / */
.bg_ProductImage {
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/free-photo/modern-background-with-lines_1361-3533.jpg?ga=GA1.1.949763891.1720709653&semt=ais_hybrid");
  background-repeat: repeat;
  background-size: contain;
}

.productbox {
  border: 1px groove white;
  box-shadow: 0px 0px 4px 2px rgb(120, 34, 131);
  border-radius: 30px 30px 30px 0px;
  transition: all 0.7s ease-in-out;
  position: relative;
  overflow: hidden;
}

.productbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgb(36, 27, 122) 0%,
      rgb(120, 34, 131) 50%,
      rgb(229, 9, 127) 100%);
  transition: left 0.7s ease-in-out;
}

.productTittle,
.imageTittle {
  color: rgba(228, 228, 228, 0.692);
}

.productbox:hover::before {
  left: 0;
}

.productbox:hover .productTittle {
  z-index: 1;
  color: white !important;
}

.img-secondary {
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.productbox:hover .img-secondary {
  filter: brightness(0) invert(1);
}

.imageTittle {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.productbox:hover .imageTittle {
  color: white !important;
  opacity: 1;
}

.productboxSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* / ProductPage end / */

/* / ProductInnerForm start / */
.bg_ProductInnerForm {
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/free-vector/modern-abstract-white-minimal-background_84443-8335.jpg?t=st=1731306175~exp=1731309775~hmac=d179c2fc8d9a76b34230ff494ff52c3c9a0a8034c18102a291850f0c1eb0ae13&w=1060");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-input:focus {
  box-shadow: 0px 0px 4px 2px rgb(120, 34, 131);
  outline: none !important;
  border-color: rgb(120, 34, 131);
}

.forminput {
  border-color: rgb(120, 34, 131);
}

.mainform {
  width: 50% !important;
}

@media (max-width: 992px) {
  .mainform {
    width: 75% !important;
  }
}

@media (max-width: 768px) {
  .mainform {
    width: 100% !important;
  }
}

/* / ProductInnerForm end / */

/* / ProductData start / */
.bg_ProductdataImage {
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/free-vector/black-shiny-wallpaper-background-design_1017-38062.jpg?ga=GA1.1.949763891.1720709653&semt=ais_hybrid");
  background-repeat: repeat;
  background-size: cover;
}

/* / ProductData end / */

/* Faq start */
/* .work_bg{
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/free-vector/abstract-background-with-minimalist-design_1048-13338.jpg?ga=GA1.1.949763891.1720709653&semt=ais_hybrid");
  background-repeat: no-repeat;
  background-size: cover;
} */
.img_faq {
  background-image: url("https://img.freepik.com/free-photo/man-working-as-pharmacist_23-2151734589.jpg?t=st=1740648546~exp=1740652146~hmac=4269e2043446f30b99a07ac067fa2aec7fd4bc11caee817b463f13ba2eef2a96&w=740");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
}

.accordion-button:focus {
  box-shadow: none !important
}

.accordion-button::after {
  background-image: url('../Images/FAQplus.png') !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('../Images/minus\ \(1\).png') !important;
  transform: 0deg !important;
}



.accordion-body {
  color: gray;
  font-size: 14px;
}

.faqIcon {
  color: var(--purple);
}

/* Faq end */